<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="localeLanguage" value=""/>
    <property name="localeCountry" value=""/>

    <module name="SuppressionFilter">
        <property name="file" value="config/checkstyle/suppressions.xml"/>
    </module>
    <!---->

    <module name="TreeWalker">
        <!--Checks tabWidth as 4 spaces-->
        <property name="tabWidth" value="4"/>
        <!--Checks package names to be formatted as lowercase-->
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>
        <!--Checks for redundant imports-->
        <module name="RedundantImport"/>
        <!--Checks for illegal imports-->
        <module name="IllegalImport">
            <property name="illegalPkgs" value="junit, org.hamcrest"/>
            <property name="illegalClasses" value="java.util.logging.Logger"/>
        </module>
        <!--Checks for * imports-->
        <module name="AvoidStarImport"/>
        <!--Checks that the max number of characters for a line is 136-->
        <module name="LineLength">
            <property name="ignorePattern" value="^ *\* *@see.+$"/>
            <property name="max" value="136"/>
        </module>

    </module>


</module>